<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        <title>4099 Driver Station</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >

        <!-- Material Design fonts -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/roboto.css') }}" type="text/css">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet">

        <!-- Bootstrap Material Design -->
        <link href="{{ url_for('static', filename='css/bootstrap-material-design.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/ripples.min.css') }}" rel="stylesheet">

        <!-- Color picker -->
        <link href="{{ url_for('static', filename='css/jquery.minicolors.css') }}" rel="stylesheet">

        <!-- CSS specific to this website -->
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
        <![endif]-->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script>
            var $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        </script>
    </head>
    <body>
        <div class="container">
            <!-- Navbar -->
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a href="../" class="navbar-brand">Falcons FIRST</a>
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-main">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/restart" class="navbar-brand" target="_blank">Restart</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Map -->
            <div class="jumbotron">
                <img src="/video_feed" width="100%"/>
            </div>
{#            <div class="alert alert-danger" id="invalidUUIDAlert" style="display: none">#}
{#                <strong>Oh snap!</strong>#}
{#                This UUID was not found.#}
{#            </div>#}
            <!-- Track New Package -->
{#            <div class="form-group well">#}
{#                <form id="newPackageTrackerForm" onsubmit="addPackageFromTextInput()">#}
{#                    <label id="newPackageLabel" for="newPackageTrackerForm">Enter package UUID:</label>#}
{#                    <input type-"text" class="form-control" id="newPackage" name="newPackage">#}
{#                    <a href="javascript:addPackageFromTextInput()" class="btn btn-raised btn-primary">Add</a>#}
{#                </form>#}
{#            </div>#}
{#            <div class="text-center">#}
{#                <div id="selectButtons" class="btn-group btn-group-raised text-center">#}
{#                    <a href="javascript:selectAll()" class="btn btn-info">View All</a>#}
{#                    <a href="javascript:selectNone()" class="btn btn-info">View None</a>#}
{#                    <a href="javascript:selectUndelivered()" class="btn btn-info">View Undelivered</a>#}
{#                    <a href="javascript:selectDelivered()" class="btn btn-info">View Delivered</a>#}
{#                </div>#}
{#            </div>#}
{#            <!-- Package List -->#}
{#            <div class="form-group table-responsive">#}
{#                <form id="packageTableForm">#}
{#                    <table class="table table-striped table-hover" id="packageTable">#}
{#                        <thead>#}
{#                            <tr>#}
{#                                <th></th>#}
{#                                <th>Display</th>#}
{#                                <th>UUID</th>#}
{#                                <th>Name</th>#}
{#                                <th>Location</th>#}
{#                                <th>ETA</th>#}
{#                                <!--<th><a style="visibility: hidden;" class="btn btn-raised btn-danger">Stop Tracking</a>#}
{#                                </th>-->#}
{#                            </tr>#}
{#                        </thead>#}
{#                        <tbody id="listBody">#}
{#                        </tbody>#}
{#                    </table>#}
{#                </form>#}
{#            </div>#}
          
            <footer class="footer">
                <p>&copy; 2017 Falcons FIRST 4099.</p>
            </footer>
        </div> <!-- /container -->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
        <script src="{{ url_for('static', filename='js/material.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ripples.js') }}"></script>
        <script>
            $.material.init();
        </script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
 </html>